.gen-spd-pwr{
    width: 100%;
    height:100%;
}
.gen-spd-pwr .subtitle-section{
    margin-bottom: 4vh;
}
.gen-spd-pwr h3{
    padding : 1vh;
    background: linear-gradient(270deg, #478ce7 0%, #6590e085 100%);
    border-left: 20px solid #007Bff;
    margin-top: 0%;
}


.gen-spd-pwr .status-summary{
    margin-top: 2vh;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
    border:2px solid #5b5c5e13;
    border-radius: 5px;
    height: 25%;
    text-align: left;
    background-color: #bdbdbd;
    overflow-y:auto ;
}
.button-section-ports{
    position: absolute;
    bottom: 0;       
    left: 0;
    width: 100%;      
    padding: 0 15px;  
    display: flex;
    justify-content: space-between; 
    box-sizing: border-box;
}
.button-section-ports .button-a{
    width: 20%;
    padding: 10px 15px;
    border:2px solid #ccc;
    border-radius: 6px;
    background: linear-gradient(180deg, #ffffff 0%, #797575 100%);
    color: #333;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.2s ease;
}
.button-section-ports .button-b{
    width: 20%;
    padding: 10px 15px;
    border:2px solid #ccc;
    border-radius: 6px;
    background: linear-gradient(180deg, #ffffff 0%, #797575 100%);
    color: #333;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.2s ease;
}
.button-section-ports .button-a:hover{
    background: linear-gradient(270deg, #5c82d4 0%, #2c5fe9 100%);
    font-style: italic;
    border: 2px solid #ffffff;
    color :white;
}
.button-section-ports .button-b:hover{
    background: linear-gradient(270deg, #6585ee 0%, #4a56c2 100%);
    font-style: italic;
    border: 2px solid #ffffff;
    color :white;
}

