.summary-section {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    grid-template-rows: 100%;
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
  }
  
  .summary-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .left .plot-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
    position: relative;
  }
  
  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right .gauge-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
  }
  






.summary-section table{
    margin:auto;
    border-collapse: collapse;
    width:100%;
    border: 1px solid #ccc;
}
.summary-section th{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-style: bold;
    font-size: x-large;
    background-color: #2a9d8f;
}
.summary-section td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-style: bold;
    font-size: large;
}
.vertical-text-g1 {
    writing-mode: sideways-lr; 
    padding: 5px; /* Adjust padding to fit */
    max-width:0px;/* Make the cell narrower */
    background-color: #e0e1dd;
}
.vertical-text-g2 {
    writing-mode: sideways-lr; 
    padding: 5px; /* Adjust padding to fit */
    max-width:0px;/* Make the cell narrower */
    background-color: #ced4da;
}

.vertical-text-g3 {
    writing-mode: sideways-lr; 
    padding: 5px; /* Adjust padding to fit */
    max-width:0px;/* Make the cell narrower */
    background-color: #e0e1dd;
}
.title-column-g1{
    background-color: #e0e1dd;
}
.title-column-g2{
    background-color: #ced4da;
}
.title-column-g3{
    font-style: italic;
    background-color: #e0e1dd;
}
.value-columne{
    background-color: #caf0f8;
}

  
